.test-page {
    background: url("../../images/common/Page-Background.png");
    background-repeat: no-repeat;
    background-position: 0 -22px;
    background-size: contain;
    min-height: 100vh;
}

.first-section {
    height: 128px;
    margin-top: 40px;

    .user-image {
        position: absolute;
        border-radius: 50%;
        overflow: hidden;
        width: 84px;
        height: 84px;
        border: 5px solid white;
        outline: 5px solid #52d29b;
        outline-offset: -1px;
        display: flex;
        justify-content: center;
        align-items: center;
        top: -15px;
        right: 7px;

        img {
            object-fit: cover;
            width: 84px;
            height: 84px;
        }
    }

    .user-info {
        position: absolute;
        top: 8px;
        right: 105px;
        display: flex;
        flex-flow: column nowrap;
        gap: 7px;

        .user-name {
            color: #202020;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
        }

        .user-job {
            color: #585858;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
        }
    }

    .user-price {
        position: absolute;
        bottom: 20px;
        color: #585858;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }
}

.second-section {
    height: 184px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .ant-card-body {
        padding: 0;
    }

    .video-player {
        width: 328px !important;
        height: 184px !important;
    }
}

.third-section {
    .about-me-text {
        color: #585858;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
    }
}

.forth-section {
    .social-media-icon {
        width: 80px;
        height: 32px;
    }
}

.fifth-section {
    .work-experience-section {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;

        .work-experience-item {
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: center;
            gap: 4px;
            color: #585858;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px;
        }
    }
}

.share-btn {
    height: 48px;
    margin: 8px 16px 24px;
    width: calc(100% - 32px);
    background-color: #52d29b;
    transition: background-color 0.15s;

    &:hover {
        background-color: #48b988 !important;
    }

    &:active {
        background-color: #3fa177 !important;
    }
}
